[server1]
type=server
address=server-1
port=3306

[server2]
type=server
address=server-2
port=3306

[server3]
type=server
address=server-3
port=3306

[mdb_monitor]
type=monitor
module=mariadbmon
user=user
password=password
replication_user=replication_user
replication_password=replication_password
servers=server1,server2,server3

[query_router_service]
type=service
router=readwritesplit
user=user
password=password
targets=server1,server2,server3

[sql_listener]
type=listener
service=query_router_service
port=4000